body {
	background-color: #222244;
}

div.piles-area {
	display: -webkit-flex;
    display: flex;
}

div.play-area {
	margin-top: 2em;
}

div.card-area {
	width: 8em;
	height: 11em;
	margin: 1em 0.5em;
	border-radius: 1em;
	background-color: #333355;
}

div.right-pile {
	margin-left: auto;
}

div.card {
	position: absolute;
	width: 7em;
	height: 10.2em;
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 1em;
	border: 0.6em double #6666AA;
	background-color: #445566;
}

div.card.front {
	border: 0.2em solid #4444FF;
	width: 7.8em;
	height: 11em;
}

div.card.front div.inner-card {
	width: 100%;
	height: 100%;
	border-radius: 1em;
	background-color: #DDDDFF;
}
div.inner-card div.card-text {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

div.card.back div.inner-card {
	display: none;
}

div.card-area.invisible {
	background-color: inherit;
}

input.message-button {
	margin: 2em 0 0 5em;;
	padding: 1em;
	border-radius: 1em;
	background-color: lime;
	color:green;
	font-weight: bold;
	font-size: x-large;
}