div.piles-area {
	display: -webkit-flex;
    display: flex;
}

div.play-area {
	margin-top: 2em;
}

div.card-area {
	width: 8em;
	height: 11em;
	margin: 1em;
	border-radius: 1em;
	background-color: silver;
}

div.right-pile {
	margin-left: auto;
}

div.card {
	position: absolute;
	width: 8em;
	height: 12.2em;
	background-size: 100%;
	background-repeat: no-repeat;
}

div.card-area.invisible {
	background-color: white;
}

input.message-button {
	margin: 2em 0 0 20em;;
	padding: 1em;
	border-radius: 1em;
	background-color: lime;
	color:green;
	font-weight: bold;
}