$body_height: 95vh;
$body_width: 95vw;

body {
    background-color: #222244;
    height: $body_height;
    width: $body_width;
}

div.page-area {
    width: calc(#{$body_width});
    height: calc(#{$body_height});
}

div.stack-area {
    height: 30%;
}

div.play-area {
    height: 60%;
}

div.piles-area {
    display: -webkit-flex;
    display: flex;
}

div.card-area {
    width: calc(#{$body_width} / 9);
    height: calc(#{$body_height} / 5);
    margin: 1em 0.5em;
    border-radius: 1em;
    background-color: #333355;
}

div.card {
    position: absolute;
    width: calc(#{$body_width} / 9 - 1em);
    height: calc(#{$body_height} / 5 - 1em);
    border-radius: 1em;
    border: 0.6em double #6666AA;
    background-color: #445566;
}

div.pile-cards {
    position: absolute;
    width: calc(#{$body_width} / 9 - 1em);
    height: calc(#{$body_height} / 5 - 1em);
    perspective: 1000px;
}

div.card-envelope {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}


div.card-format {
    position: absolute;
    border: 0.3em double #6666AA;
    border-radius: 0.5em;
    width: calc(#{$body_width} / 9 - 0.5em);
    height: calc(#{$body_height} / 5 - 0.5em);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    text-align: center;
    font-size: 200%;
    font-family: Bookman Old Style;
    line-height: 80%;
    font-weight: bold;
    &.type-color {
        color: red;
    }


    &.back-4 {
        background-color: #DDDDFF;
        transform: rotateY(180deg);
        &.turning {
            transform: rotateY(0deg);
        }
    }

    &.front-4 {
        background-color: #DDDDFF;
        &.turning {
            transform: rotateY(180deg);
        }
    }

    &.back {
        background-color: #445566;
        &.turning {
            transform: rotateY(180deg);
        }
    }

    &.front {
        background-color: #DDDDFF;
        transform: rotateY(180deg);
        &.turning, &.turned {
            transform: rotateY(0deg);
        }
    }
}



.card-icon {
    height: 60%;
    margin: 0.2em;
    background-size: 100%;
    background-repeat: no-repeat;
}

div.card-area.invisible {
    background-color: inherit;
}

input.message-button {
    margin: 2em 0 0 5em;;
    padding: 1em;
    border-radius: 1em;
    background-color: lime;
    color:green;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
}
