$available_height: 95vh;
$available_width: 95vw;

$body_height: min($available_height, $available_width / 1.1);
$body_width: min($available_height * 1.1, $available_width);

$card_height: calc($body_height / 5);
$card_width: calc($card_height / 1.452);

$back-card-margin: calc($card_height / 4);
$card-border-radius: calc($card_height / 20);
$card-area-margin: calc($card_height / 20);

body {
    background-color: #778877;
    height: $body_height;
    width: $body_width;
}

div.piles-area {
    display: -webkit-flex;
    display: flex;
}

div.stack-area {
    height: 30%;
}

div.play-area {
    height: 60%;

    .turning-animation {
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }
}

div.card-area {
    width: $card_width;
    height: $card_height;
    margin: $card-area-margin;
    border-radius: $card-border-radius;
    background-color: #667766;

    &.invisible {
        background-color: inherit;
    }
}

div.pile-cards {
    position: absolute;
    width: $card_width;
    height: $card_height;
    perspective: 1000px;

    &.moving {
        z-index: 100;
    }
}

div.card-envelope {
    width: $card_width;
    height: $card_height;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.back-card-margin {
    margin-top: calc(var(--index) * $back-card-margin);
}

.card-format {
    position: absolute;
    width: $card_width;
    height: $card_height;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 0;

    &.moving {
        z-index: 100;
    }

    &.back-pile {
        background-color: #445566;
        border: calc($card_width / 100) double #8888AA;
        border-radius: $card-border-radius;
        width: calc($card_width / 1.02);
        transform: rotateY(180deg);
        &.turning {
            transform: rotateY(0deg);
        }
    }

    &.front-pile {
        &.turning {
            transform: rotateY(180deg);
        }
    }

    &.back-stock {
        background-color: #445566;
        border: calc($card-width / 100) double #8888AA;
        border-radius: $card-border-radius;
        width: calc($card_width / 1.02);
        &.turning {
            transform: rotateY(180deg);
            background-color: #667788;
            transition: background-color 0.3s;
        }
    }

    &.front-stock {
        transform: rotateY(180deg);
        &.turning {
            transform: rotateY(0deg);
        }
    }

    &.back {
        background-color: #445566;
        border: calc($card_width / 100) double #8888AA;
        border-radius: $card-border-radius;
        width: calc($card_width / 1.02);
        &.turning {
            background-color: #667788;
        }
        &.turned {
            transform: rotateY(180deg);
        }
    }

    &.front {
        transform: rotateY(180deg);
        &.turned {
            display: inherit;
            transform: rotateY(0deg);
        }
    }
}

div.game-over {
    margin-top: 2%;
    width: 100%;
    height: 10%;
    text-align: center;
    align-content: center;

    button {
        width: 70%;
        height: 100%;
        border-radius: 1em;
        cursor: pointer;
        text-align: center;
        align-self: center;
        background-color: #b5d592;
        font-weight: bold;
        font-size: calc($card_width / 6);
    }
}
